body,html
{
    font-family: 'Oswald', sans-serif;
    width: 1440px;
    height: 2486px;
    background: #FFFFFF;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

.header
{
    position: relative;
    height: 110px;
    background: #FFFFFF;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content:space-between;
}
.logo
{
    margin-top: 29px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    width: 204px;
    height: 53px;
    text-decoration: none;
    color:black;
}
.nav
{
    
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    height: 82px;
    width: 392px;
}

.ul__list
{
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    list-style-type: none;
}
.ul__link
{
    color: black;
    text-decoration: none;
    transition: height 0.4s;
}
.ul__ani:hover
{
    height: 90px;
}
.ul__ani:active
{
    height: 77px;
}
