.subscribe
{
    width: 1440px;
    height: 337px;
    position: relative;
    background: #817070;
}
.title__sub
{
    position: absolute;
    width: 161px;
    height: 53px;
    left: 640px;
    top: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.input__email
{
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 55px;
    left: 571px;
    top: 141px;
    background: #817070;
    border: 3px solid #FFFFFF;
    transition: height 0.4s ;
    
}
.input__email:focus
{
    height: 60px;
}

input[type=text]
{
    padding-left: 93px;
}
input::placeholder
{   
    font-family: 'Oswald';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 20px;
}

.button__sub
{
    box-sizing: border-box;
    position: absolute;
    width: 129px;
    height: 55px;
    left: 655px;
    top: 224px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    color:#817070;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    transition: height 0.4s;
    
    text-align: center;
    text-transform: uppercase;
}
.button__sub:hover
{
    height: 60px;
}
.button__sub:active
{
    height: 50px;
}
.copy
{
    position: absolute;
}
.copy__foot
{
    position: absolute;
    width: 147px;
    height: 30px;
    left: 647px;
    top: 29px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    
}